<!DOCTYPE html>
<html>
<head>
    <title>Meteo Plots</title>
    <meta http-equiv="refresh" content="300">
</head>
<body>

    <nav>
        <a href="/">Inicio</a> |
        <a href="/ecmwf">ECMWF</a>
    </nav>

    <h1>Predicciones y temperaturas</h1>

    {% for plot in plots %}
        <h2>{{ plot }}</h2>

        <img
            src="{{ url_for('static', filename='plots/' + plot) }}?v={{ cache_id }}"
            width="600"
            alt="{{ plot }}"
        >
    {% endfor %}

</body>
</html>
